@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #F3F4F8;
  --active-bg-color: #5051F9;
  --active-text-color: #fff;
  --text-color: #232360;
  --dm-sans: "DM Sans", sans-serif;
  --card-title-color: #8C97A8;
  --card-number-color: #1E1E1E;
  --border-color: #E8EDF1;
  --subtext-color: #768396;
}

body {
  background-color: var(--bg-color);
  font-size: 14px;
  font-family: var(--dm-sans);
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.active {
  color: #fff;
  background: #419CA6;
  border-left: 5px solid #1E758F;
  cursor: pointer;
}

.customHover:hover {
  background: #419CA6;
  padding: 5px;
  border-left: 5px solid #1E758F;
  cursor: pointer;
  transition: all linear .3s;
  display: block;
  color: white;
}

.profile {
  color: #402C3C;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}

.navbar-brand {
  font-size: 22px;
  font-weight: 500;
}

.homeCard card {
  color: red;
}

/* Responsive */

@media (min-width: 361px) and (max-width: 575.98px) {
  .left-area {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
}


.Profile h6 {
  color: #402C3C;
  font-size: 16px;
  font-weight: 500;

}



.sidemenu {
  color: var(--active-text-color);
  font-size: 15px;
  font-weight: 400;
}

.Not_active_sidemenu {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
}

.sideLogoActive {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.sideLogo {
  color: #402C3C;
  font-size: 15px;
  font-weight: 400;
}


.CreateJSX {
  color: #402C3C;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.newJSX h5 {
  color: #402C3C;
  font-size: 18px;
  font-weight: 500;
}


.profileInside {
  color: #402C3C;
  font-size: 15px;
  font-weight: 500;
}

.ProfileUpdateBtn button {
  background: #419CA6;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 6px;
  transition: all linear .3s;
}

.ProfileUpdateBtn button:hover {
  background: #1E758F;
}


.Loginpage {
  color: #402C3C;
  font-size: 22px;
  font-weight: 700;
}

.forgoteBtn {
  padding-right: 43px;

}

/* =============== */

/*DashBoard Page css start*/
.card_wrapper {
  gap: 24px;
  padding-left: 40px;
  padding-top: 30px;
}

.card_wrapper .card {
  width: calc(100% / 3 - 24px);
  height: auto;
  max-width: 100%;
  padding: 20px;
  border: 0;
  border-radius: 16px;
}

.card_wrapper .card .card_top {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 24px;
}

.card_wrapper .card .card_top .icon_box {
  width: 34px;
  height: 34px;
  background: #F3F7FD;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 12px;
}

.card_wrapper .card .card_top .card-title {
  color: var(--card-title-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.card_wrapper .card .card_top .card-number {
  color: var(--card-number-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}

.card_wrapper .card .card_bottom {
  padding-top: 30px;
}

.card_wrapper .card .card_bottom .text_content .card_subtext {
  color: var(--card-title-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: end;
}

.card_wrapper .card .card_bottom .text_content .card_subtext span {
  color: #299702;
  font-weight: 700;
}

.manuLeft {
  background: var(--active-text-color);
  height: 100vh;
}

.manuLeft ul li {
  list-style: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all linear .3s;
  font-size: 16px;
  color: #1C1E21;
  padding: 8px;
}

.manuLeft ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.manuLeft ul li {
  padding-left: 18px;
}

.manuLeft ul li:hover {
  background: var(--active-bg-color);
  color: var(--active-text-color);
}

.header_wrapper {
  background: var(--active-text-color);
}

.notification {
  position: relative;
}

.notification span {
  color: var(--active-text-color);
  font-size: 10px;
  font-weight: 700;
  background-color: var(--active-bg-color);
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -2px;
}

.MainHeader p {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color);
}

.chart_main {
  padding-top: 30px;
  padding-left: 40px;
  width: 870px;
  height: auto;
  max-width: 100%;
}

.MainHeader span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--active-bg-color);
  color: var(--active-text-color);
  font-size: 16px;
  border-radius: 50%;
}

.profil img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}

/* crate task page css start */
.createTask button {
  border: none;
  background: #0866FF;
  color: white;
  width: 113px;
  height: 37px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
}

.taskText p {
  color: #1C1E21;
  font-size: 18px;
  font-weight: 500;
}


.taskcarosul {
  background: green;
  width: 400px;
  height: 400px;
}

.taskcarosul p {
  font-size: 16px;
  font-weight: 500;
  color: #1C1E21;
}

.taskcarosul input {
  border: 1px solid #1C1E21;
  border-radius: 5px;
}

.taskcarosul span {
  font-size: 14px;
  font-weight: 400;
  color: #1C1E21;
}


.blurred {
  filter: blur(5px);
  pointer-events: none;
}

.carousel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.carousel-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 400px;
  height: 95%;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 290px;
  max-width: 100%;
  padding: 8px;
}

.header_right svg {
  width: 24px;
  height: 24px;
}

.btn {
  padding: 10px 20px;
  margin-right: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}


/* task create page css end*/

/* team task page css start */
.mainOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.teamTask {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 400px;
  height: auto;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.teamCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* team task page css end */
.taxbox {
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.taxbox p {
  font-size: 16px;
  font-weight: 400;
  color: #ff4618;
  padding: 5px;
}

.taxbox span {
  font-size: 16px;
  font-weight: 500;
  color: #1C1E21;
  padding: 5px;
}

.taxbox h5 {
  font-size: 13px;
  font-weight: 400;
  color: #1C1E21;
  padding: 5px;
}

.taxbox h4 {
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
}

.taxbox h3 {
  font-size: 15px;
  font-weight: 400;
  color: #1C1E21;
  padding: 5px;
}


.mainHoverAssign p {
  color: #1C1E21;
}

.mainHoverAssign {
  display: none;
}


.todo {
  font-size: 16px;
  font-weight: 600;
  background: #08A9F4;
  color: white;
  padding: 10px;
}

.inPro {
  font-size: 16px;
  font-weight: 600;
  background: #FF7800;
  color: white;
  padding: 10px;
}

.comp {
  font-size: 16px;
  font-weight: 600;
  background: #2ECD6E;
  color: white;
  padding: 10px;
}


/* left side menu */
.manuLeft .activeSideMenu {
  background: var(--active-bg-color);
  color: var(--active-text-color);
}




/* dash Borad section css start */

.dashInfo {
  margin-top: 10px;
  overflow-x: auto;
}
.custom_container{
  gap: 24px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.custom_container .team_member .user .user_img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}
.custom_container .team_member{
  margin-top: 30px;
  background: var(--active-text-color);
  padding: 24px;
  border-radius: 16px;
  margin-right: 24px;
}
.custom_container .team_member .team_title {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.custom_container .team_member .user .member_name {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
}

.custom_container .team_member .user .member_email {
  color: var(--subtext-color);
  font-size: 16px;
  font-weight: 500;
}

.chart_wrapper {
  margin-top: 30px;
  margin-left: 40px;
  background: var(--active-text-color);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
}

table th,
table td {
  padding: 4px 34px;
}

table thead th {
  background-color: #0866FF;
  color: #ffffff;
  text-align: left;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #0866FF;
}

table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.DashCommon p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.DashCommon span {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.dash h3 {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}


/* Profile page css start */

.myInformation img {
  width: 180px;
  height: 180px;
  border-radius: .75rem;
}

.profileP p {
  font-size: 16px;
  font-weight: 500;
  color: #212529;
  margin: 10px 0 5px;
}

.myIn p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #212529;
  margin: 0;
}

.myIn {
  padding-left: 3rem;
  padding-top: 3rem;
}

.myIn span {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
}

.myIn h5 {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  padding-top: 5px;
  margin: 0;
}

.myIn h6 {
  font-size: 15px;
  font-weight: 400;
  color: #212529;
  padding-top: 8px;
  cursor: pointer;
  transition: all linear .3s;
}

.myIn h6:hover {
  color: red;
}

.myIm img {
  margin-left: 14px;
}

/* Profile page css end */




/* css for loader */
.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}